{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Gerenciar Clientes</title>

    <!-- Mayer's CSS Reset -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">

    <!-- Estilo da página -->
    <link rel="stylesheet" href="{% static 'css/painel.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="{% static 'js/jquery.mask.js'%}"></script>
    <script src="{% static 'js/jquery.mask.min.js'%}"></script>
    <script src="{% static 'js/mask_complete.js'%}"></script>
</head>

<body>
        {% if form.errors %}
    {% for error in form.non_field_errors %}
    <script>alert('{{error}}')</script>
    {% endfor %}
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div id="menu" class="col-md-3 no-float">
                <nav>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'listar' %}">Litar clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cadastrar cliente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Modificar cliente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'deletar' %}">Deletar cliente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-9 no-float">
                <form id="main" class="form-horizontal" method="post" role="form">
                        {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="nomeCliente">Nome:</label>
                                <input type="text" id="nomeCliente" name="nome" class="form-control" minlength="4" maxlength="56" required>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="telefoneCliente">Telefone:</label>
                                <input type="text" id="telefoneCliente" name="telefone" class="form-control" maxlength="11">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="cepCliente">CEP:</label>
                                <input type="text" id="cepCliente" name="cep" class="form-control" minlength="8" maxlength="8" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="enderecoCliente">Endereço:</label>
                                <input type="text" id="enderecoCliente" name="endereco" class="form-control" maxlength="56">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="numeroCliente">Número:</label>
                                <input type="text" id="numeroCliente" name="numero" class="form-control" maxlength="56">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="cidadeCliente">Cidade:</label>
                                <input type="text" id="cidadeCliente" name="cidade" class="form-control" maxlength="56">
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="estadoCliente">Estado:</label>
                                <input type="text" id="estadoCliente" name="estado" class="form-control" maxlength="56">
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="paisCliente">País:</label>
                                <input type="text" id="paisCliente" name="pais" class="form-control" maxlength="56">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Cadastrar</button>
                            </div>

                        </div>
                    </div>

            </div>

            </form>
        </div>
    </div>
</body>

</html>