{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Mayer's CSS Reset -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">

    <!-- Estilo da página -->
    <link rel="stylesheet" href="{% static 'css/form.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>

<body>
    {% if form.errors %}
    {% for error in form.non_field_errors %}
    <script>alert('{{error}}')</script>
    {% endfor %}
    {% endif %}
    <div class="container">
        
        <div id="form-panel">
                <form method="post">
                        {% csrf_token %}
                        <h2 class="text-center text-primary">Cadastre-se</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" minlength="4" maxlength="32" placeholder="Usuário" required>
                    </div>
        
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" minlength="4" maxlength="32" placeholder="E-mail" required>
                    </div>
        
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" minlength="4" maxlength="32" placeholder="Senha" required>
                    </div>
        
                    <button type="submit" class="btn btn-primary">Cadastre-se</button>
                </form>
        </div>

    </div>



</body>

</html>