{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Gerenciar Clientes</title>

    <!-- Mayer's CSS Reset -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">

    <!-- Estilo da página -->
    <link rel="stylesheet" href="{% static 'css/painel.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="{% static 'js/jquery.mask.js'%}"></script>
    <script src="{% static 'js/jquery.mask.min.js'%}"></script>
    <script src="{% static 'js/mask_complete.js'%}"></script>
</head>

<body>
        {% if form.errors %}
    {% for error in form.non_field_errors %}
    <script>alert('{{error}}')</script>
    {% endfor %}
    {% endif %}
    <div class="container-fluid">
        <div class="row">
            <div id="menu" class="col-md-3 no-float">
                <nav>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'listar' %}">Litar clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cadastrar' %}">Cadastrar cliente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'modificar' %}">Modificar cliente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Deletar cliente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-9 no-float">
                <form id="main" class="form-horizontal" method="post" role="form">
                        {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="nomeCliente">Selecione o cliente que deseja deletar</label>
                                <select class="form-control" name="nome" id="nomeCliente">
                                    {% for cliente in clientes %}
                                    <option>{{cliente.nome}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <button class="btn btn-primary" type="submit">Deletar</button>
                            </div>

                        </div>
                    </div>
                </form>
                {% if form.errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error</strong> {{error}}.
                    </div>
                {% endfor %}
            {% endif %}
            {% if form.is_valid %}
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Successo</strong> Cliente deletado com sucesso.
                </div>
            {% endif %}
            </div>

            
        </div>
    </div>
</body>

</html>