{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Gerenciar Clientes</title>

    <!-- Mayer's CSS Reset -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">

    <!-- Estilo da página -->
    <link rel="stylesheet" href="{% static 'css/painel.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div id="menu" class="col-md-3 no-float">
                <nav>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Litar clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cadastrar' %}">Cadastrar cliente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Modificar cliente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'deletar' %}">Deletar cliente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Sair</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-9 no-float">
                <table class="table">
                    <caption>Lista de Clientes</caption>
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Telefone</th>
                            <th scope="col">Endereço</th>
                            <th scope="col">Número</th>
                            <th scope="col">Cidade</th>
                            <th scope="col">Estado</th>
                            <th scope="col">País</th>
                            <th scope="col">CEP</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                        <tr>
                            <td>{{cliente.nome}}</td>
                            <td>{{cliente.telefone}}</td>
                            <td>{{cliente.endereco.endereco}}</td>
                            <td>{{cliente.endereco.numero}}</td>
                            <td>{{cliente.endereco.cidade}}</td>
                            <td>{{cliente.endereco.estado}}</td>
                            <td>{{cliente.endereco.pais}}</td>
                            <td>{{cliente.endereco.cep}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</body>

</html>