#form-panel {
    width: 50%;
    height: 400px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 400px;
    background-color:rgb(61, 60, 60);
    padding: 2%;
    border-radius: 3%;
}

#form-panel h2 {
    margin-bottom: 10%;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}